<!--
    Name: Michelle Ng // 100779006
    File Name: Index.cshtml
    Date Created: 10 December 2021
    Description: Display index of the main home page.
-->

@{
    <!-- Title of the tab. -->
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!-- Main header. Welcoming message. -->
    <h1 class="display-4">Welcome to Mushy's Bakery Page!</h1>

    <br />

    <!-- Display details of the bakery. -->
    <p>
        Here, you will be able to see the baked goods in Mushy's bakery. We sell an assortment
        <br />
        of baked goods such as cookies, cupcakes, donuts, muffins, mini-cakes and many more!
    </p>
    <img src="~/images/sweets.png" alt="Sweets here" width="1040" height="335" />
</div>
