<!--
    Name: Michelle Ng // 100779006
    File Name: Privacy.cshtml
    Date Created: 10 December 2021
    Description: Displays information about the bakery and locations.
-->

@{
    <!-- Title of the tab. -->
    ViewData["Title"] = "Contact & Locations";
}

<!-- Header. -->
<h1>@ViewData["Title"]</h1>

<p>
    <!-- Contact information. -->
    <b>If you have an inquries regarding the bakery, please contact:</b>
    <br />manager@gmail.com
    <br />613-555-0132

    <!-- Locations. -->
    <br /><br /><b>LOCATIONS</b>

    <br /><b>Crackers Town</b>
    <br />52 Peanut Street
    <br /> 613-555-0107

    <br />

    <br /><b>Crunchy Puffz</b>
    <br />8634 Oven Street
    <br />613-555-0154
</p>
