<!--
    Name: Michelle Ng // 100779006
    File Name: Create.cshtml
    Date Created: 10 December 2021
    Description: This is for creating/adding a new worker.
-->

@model BAKERY_WEB_APPLICATION.Models.BakeryWorker

@{
    <!-- Title of the tab. -->
    ViewData["Title"] = "Add Worker";
}

<!-- Header. -->
<h1>Add a New Worker</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- For input of name of the worker's first name. -->
                <label asp-for="workerFirstName" class="control-label">First Name</label>
                <input asp-for="workerFirstName" class="form-control" />
                <span asp-validation-for="workerFirstName" class="text-danger"></span>
            </div>
            <!-- For input of name of the worker's last name. -->
            <div class="form-group">
                <label asp-for="workerLastName" class="control-label">Last Name</label>
                <input asp-for="workerLastName" class="form-control" />
                <span asp-validation-for="workerLastName" class="text-danger"></span>
            </div>
            <!-- For input of a the worker's role. -->
            <div class="form-group">
                <label asp-for="workerRole" class="control-label">Role</label>
                <input asp-for="workerRole" class="form-control" />
                <span asp-validation-for="workerRole" class="text-danger"></span>
            </div>
            <!-- For input of the worker's hourly wage. -->
            <div class="form-group">
                <label asp-for="workerHourlyWage" class="control-label">Wage per Hour ($)</label>
                <input asp-for="workerHourlyWage" class="form-control" />
                <span asp-validation-for="workerHourlyWage" class="text-danger"></span>
            </div>
            <!-- Create button. Creates a worker when clicked. -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Will go back to the list of workers if clicked. -->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
