<!--
    Name: Michelle Ng // 100779006
    File Name: Delete.cshtml
    Date Created: 10 December 2021
    Description: This is for removing a worker.
-->

@model BAKERY_WEB_APPLICATION.Models.BakeryWorker

@{
    <!-- Title of the tab. -->
    ViewData["Title"] = "Remove Worker";
}

<!-- Header. -->
<h1>Remove a Worker</h1>

<h3>Are you sure you want to remove this worker?</h3>

<!-- Display the details of the workers. -->
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.workerFirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.workerLastName)
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.workerRole)
        </dd>
        <dt class="col-sm-2">
            Wage per Hour ($)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.workerHourlyWage)
        </dd>
    </dl>

    <!-- Delete button. When clicked, will remove the selected worker -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="workerID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
